<div class="about">
    <p>
        Hola, soy Iván.
        Durante esta prueba he creado una página web desde 0, trabajando tanto en el back-end como en el
        front-end, a partir de las instrucciones dadas. Decicí realizar esta tarea utilizando el framework Angular, ya
        que es el que hemos estado aprendiendo durante el curso, y es al que más acostumbrado estoy, además de
        que es bastante similar a React, me parece muy cómodo de usar y opino que genera resultados agradables visualmente y aporta funciones que
        mejoran mucho la usabilidad de la página.
        La mayor dificultad que encontré fue el uso de endpoints, ya que es algo que
        no había hecho hasta ahora y he tenido que aprender por mi cuenta. Concretamente alguna pequeña complicación
        intentando entender los datos del endpoint y como inyectarlos correctamente en Angular. Para solucionar este
        problema, busqué primero un enpoint de ejemplo sencillo y realicé la conexión, una vez que entendí su
        funcionamiento lo cambié por el api real que debía usar.
        Por desgracia, no pude realizar el apartado del API REST con operaciones CRUD debido a problemas de tiempo, ya
        que actualmente estoy en época de examenes y tengo también trabajos y proyectos que debo entregar.
        Llegué a este sector porque me gustaba el mundo de la programación y quería tener la capacidad de crear mis
        propios proyectos, formarme, y con suerte dedicarme a ello en el futuro, ya que es algo que me gusta hacer y
        hasta ahora considero que se me da bien, por lo que pongo en ello todo mi esfuerzo.
        Durante estos 2 años he aprendido mucho, pero aún me queda camino por recorrer y objetivos que cumplir,
        empezando por la realización de las prácticas del grado superior. Por eso, me gustaría encontrar una empresa que
        me brindase la oportunidad de ampliar mis conocimientos y obtener experiencia real en este sector.
        ¡Saludos, y espero que nos veamos pronto!
    </p>
</div>